<%- include('../partials/header') %>

<h1 class="profile-header">Profile page</h1>

<div class="profile-container">

<h1><img class="avatar-profile" src="<%= user.avatar %> " alt=""/><%= user.name %> </h1>
<h2><%= user.email %> </h2>

<h2><a href=""><%= user.friends %></a></h2>
<h2><%= user.selfeval %> </h2>

<button class="btn btn-light"><a href="/users/treatment">How to Balance</a></button>

</div>









<%- include('../partials/footer') %>