<%- include('../partials/header') %>
<div class="color-container">


<div class="card mb-3">
    <img src="<%= user.avatar %> " class=" avatar-profile card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= user.name %></h5>
      <p class="card-text"><%= user.email %></p>
      <p class="card-text">Alias: <%= user.alias %></p>
      <p class="card-text">Bio: <br> <%= user.bio %></p>
      <button class=" btncolor btn "><a href="/users/treatment">How to Balance</a></button>
      <p class="card-text"><small class=" text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


<h2 class="update-text">Update Info</h2>
<form action="/users/<%= user._id %>?_method=PUT" method="POST">
<label class="form-label">Alias:</label>
<input class="form-control" type="text" name="alias" value="<%= user.alias %>">
<label  class="form-label">Avatar:</label>
<input  class="form-control" type="text" name="avatar" value="<%= user.avatar %>" >
<label  class="form-label">Bio:</label>
<textarea class="form-control" name="bio" cols="10" rows="3"><%= user.bio %></textarea>
<button type="submit" class="btn btn-light">Update</button>
</form>


<!-- self eval -->



<table class="table">
    <thead >
      <tr>
        <th scope="col">What Element Are You?</th>
        <th scope="col">Jitsu Element</th>
        <th scope="col">Kyo Element</th>
      </tr>
    </thead>
    <tbody>


        <% user.selfevals.forEach(function(s){%>
            <tr>
              <td><%= s.whatelementareyou %></td>
              <td><%= s.jitsuelement %></td>
              <td><%= s.kyoelement %></td>
              <td>
                
                <form action="/users/<%= s._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button class="btn btn-light" type="submit">🗑</button>
                  </form>
                </td>
              
             
            </tr>
      <%  })%>

    </div>
   
  





<!-- friends list-->
<h3>Friends:</h3>
<% user.friends.forEach(f => { %>
    <a href="/users/<%= f._id %>"><img width="30" id="avatarPhoto" src="<%= f.avatar %>" alt=""><%= f.name %> <%= f.alias ? `(${f.alias})` : '' %></a><br><br>
    <% }) %>







<%- include('../partials/footer') %>