<%- include('../partials/header') %>
<div class="color-container">

<h3 class="Mbheading">Users List</h3>



<% users.forEach(u =>{ %>
    <a href="/users/<%= u._id%>">
<div class="card">
<div class="card-body">
<img class="userpic" width="200" height="200" src="<%= u.avatar ? u.avatar : 'https://www.stefanospizzaknoxville.com/wordpress/wp-content/uploads/diagonal-rainbow-stripes-01.png' %>" alt=""> <%= u.name %> </a>

</div>
</div> <br>





<% }) %> 




</div>











<%- include('../partials/footer') %>