<%- include('../partials/header') %>
<div class="color-container">
  <h3 class="Mbheading"><%= title %></h3>

  <div class="card">
    <img
      id="avatarPhoto2"
      class="card-img-top"
      src="<%= user.avatar ? user.avatar : 'https://www.stefanospizzaknoxville.com/wordpress/wp-content/uploads/diagonal-rainbow-stripes-01.png'  %>"
      alt="Card image cap"
    />

    <div class="card-body">
      <h5 class="card-title"><%= user.name %></h5>
      <p class="card-text">
        Joined: <%= user.createdAt.toLocaleString().split(',')[0] %>
      </p>
      <p class="card-text">
        Email: <a href="mailto:<%= user.email %>"><%= user.email %></a>
      </p>

      <p class="card-text">Element Type:</p>

      <% if(user.selfevals.length > 0) {%>
      <div>
        <%= user.selfevals[user.selfevals.length -1].whatelementareyou %>
      </div>
      <br />
      <% } else { %>
      <div>No Evals</div>
      <% } %>

      <div class="removefriendBtn">
        <% if (!user._id.equals(loggedInuser._id) &&
        !loggedInuser.friends.includes(user._id)) { %>
        <a href="/users/<%= user._id %>/friend" class="btn btn-light"
          >Add Friend</a>
        <% } %> <% if (!user._id.equals(loggedInuser._id) &&
        loggedInuser.friends.includes(user._id)) { %>
        <a href="/users/<%= user._id %>/unfriend" class="btn btn-light"
          >Remove Friend</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
